body {
    background-image: url('~@/assets/images/bgImage.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }