.cart{
    z-index: 15;
    position: fixed;
    bottom: 100px;
    right: 15px;
    width: 55px;
    height: 55px;
    color:$brown ;
    background-color:white;
    box-shadow: 1px 1px 3px  $brown;
    border: 2px $brown solid;
    border-radius: 50%;
    transition: all .3s;
    .badge{
      position: absolute;
      top: -5px;
      right: -5px;
    } 
  }
  .gotop {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 22px;
    width: 30px;
    height: 30px;
    color:$primary ;
    background-color:white;
    box-shadow: 1px 1px 3px  $brown;
    border: 1px $brown solid;
    border-radius: 50%;
    transition: all .3s;
    display: none;
  
  }
  .gotop:hover,.cart:hover{
    color: white ;
    background-color: $brown;
    cursor: pointer;
  }


